body {
  background-image: url('../images/noisy_grid.png');
  font-size: 16px;
  padding-top: 42px;
}

div.content {
  padding-bottom: 15px;
}

ul.nav li a {
  text-transform: lowercase;
}

.hero-unit {
  background-color: #777777;
  border-radius: 6px 6px 6px 6px;
  color: #FFFFFF;
  margin-bottom: 30px;
  margin-top: 57px;
  padding: 20px 60px 30px 40px;
}

.hero-unit h1 {
  margin-bottom: 23px;
  text-transform: lowercase;
  font-size: 40px;
}

div.page-header {
  border-bottom: 1px solid #ACACAC;
}

div.page-header h2 {
  text-transform: lowercase;
}

footer {
  margin-top: 70px;
}

footer ul {
  padding: 0;
  margin-top: 3px;
  margin-left: 0;
}

div.project h3 {
  margin: 0 0 3px;
}

div.project p {
  margin-bottom: 5px;
}

div.project .desc {
  margin-left: 125px;
}

div.project img {
  border-radius: 20px;
  width: 105px;
  float: left;
}

.well {
  height: 105px;
}